<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/2231f865fc.js"></script>
    <link rel="shortcut icon" href="https://Video.jl.org/theme/images/favicon.png">

    <title>Video.jl.org &middot; Contribute Media</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/theme/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/theme/css/base.css" rel="stylesheet">

    <script src="/theme/js/theme-switch.js"></script>
</head>

<body>
<a class="github" href="/pages/contribute-media.html">
    <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 2;" src="/images/contribute_to_me_right_red_aa0000.png" alt="Contribute Media" />
</a>
  <div class="header notice clearfix">
    A thank you to everyone who makes this possible:
    <a href="/pages/thank-you-contributors.html">Read More</a>
  </div>
  <header id="banner" class="header clearfix">
    <nav class="header__nav"><div class="container">
      <ul class="nav">
        <li role="presentation"><a href="../index.html"><i class="fa fa-fw fa-home"></i> <span>Start</span></a></li>
        <li role="presentation"><a href="../events.html"><i class="fa fa-fw fa-list-ul"></i> <span>Events</span></a></li>
        <li role="presentation"><a href="../tags.html"><i class="fa fa-fw fa-tags"></i> <span>Tags</span></a></li>
        <li role="presentation"><a href="../speakers.html"><i class="fa fa-fw fa-users"></i> <span>Speakers</span></a></li>
        <li role="presentation"><a href="../pages/about.html"><i class="fa fa-fw fa-info"></i> <span>About</span></a></li>
      </ul>
    </div></nav>
    <div class="container">
      <h3 class="text-muted header__title">
        <a href="../"><img src="/theme/images/julia_logo.svg" alt="" style="height:50px"> <span>Video<i>.jl</i></span></a>
      </h3>
      <div class="header__searchbox">
        <form method="GET" action="/search.html">
          <input name="q" type="search" placeholder="Type / to search...">
        </form>
        <button id="theme-toggle" class="theme-toggle" title="Toggle Theme">
          <i class="fa fa-moon-o"></i>
        </button>
      </div>
    </div>
  </header>
  <div class="container">

    <h1>Contribute Media</h1>
    
    <div class="section" id="how-to-contribute">
      <h2>How to Contribute</h2>
      <p><a href="http://Video.jl.org">Video.jl.org</a> is a community-driven index of Julia-related talks, tutorials, and media. We welcome contributions from everyone!</p>
      
      <p>If you have found a Julia video that isn't currently in our index, you can help us by adding it. We handle all our data via GitHub.</p>
      
      <h3>Process</h3>
      <ol>
        <li>Go to our <a href="https://github.com/Video.jl/Video.jl">GitHub repository</a>.</li>
        <li>Fork the repository and create a new branch.</li>
        <li>Add the video metadata in JSON format following our schema (requires Title, YouTube URL, Speaker, Event, etc.).</li>
        <li>Open a Pull Request with your additions.</li>
      </ol>

      <p>Alternatively, if you are not familiar with Git or GitHub Pull Requests, you can <a href="https://github.com/Video.jl/Video.jl/issues/new">open an issue</a> and provide the video link along with the speaker name and event. A volunteer will add it to the index for you.</p>

      <h3>Guidelines</h3>
      <ul>
        <li>Ensure the video is publicly accessible (e.g., YouTube, Vimeo).</li>
        <li>Verify that the video has not already been added to the site.</li>
        <li>Make sure the video is primarily focused on the Julia programming language.</li>
      </ul>
    </div>

    <br><br>

    <footer class="footer">
      <p>
        &copy; <a href="https://github.com/Video.jl/Video.jl/blob/main/LICENSE">Video.jl.org</a> |
        <a href="https://github.com/Video.jl/data/blob/main/LICENSE">Video.jl/data</a>
      </p>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/theme/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/theme/js/searchbar.js"></script>
  </div>
</body>
</html>
