<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/2231f865fc.js"></script>
  <link rel="shortcut icon" href="https://Video.jl.org/theme/images/favicon.png">
  <meta name="google-site-verification" content="cHuieLjiIIDAHKKXSPPDsnbLEz9QgVNTi23qy_mOzDU" />

  <title>Video.jl.org &middot; Events</title>

  <link href="https://Video.jl.org/feeds/all.atom.xml" type="application/atom+xml" rel="alternate"
    title="Video.jl.org Full Atom Feed" />
  <link href="https://Video.jl.org/feeds/all.rss.xml" type="application/rss+xml" rel="alternate"
    title="Video.jl.org Full RSS Feed" />

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw=="
    crossorigin="anonymous">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="/theme/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/theme/css/base.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <script src="/theme/js/theme-switch.js"></script>
</head>

<body>
  <a class="github" href="/pages/contribute-media.html">
    <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 2;"
      src="/images/contribute_to_me_right_red_aa0000.png" alt="Contribute Media" />
  </a>
  <div class="header notice clearfix">
    A thank you to everyone who makes this possible:
    <a href="/pages/thank-you-contributors.html">Read More</a>
  </div>
  <header id="banner" class="header clearfix">
    <nav class="header__nav">
      <div class="container">
        <ul class="nav">
          <li role="presentation">
            <a href="./index.html"><i class="fa fa-fw fa-home"></i> <span>Start</span></a>
          </li>

          <li role="presentation" class="active">
            <a href="./events.html"><i class="fa fa-fw fa-list-ul"></i> <span>Events</span></a>
          </li>

          <li role="presentation">
            <a href="./tags.html"><i class="fa fa-fw fa-tags"></i> <span>Tags</span></a>
          </li>

          <li role="presentation">
            <a href="./speakers.html"><i class="fa fa-fw fa-users"></i> <span>Speakers</span></a>
          </li>

          <li role="presentation">
            <a href="./pages/about.html"><i class="fa fa-fw fa-info"></i> <span>About</span></a>
          </li>
          <li role="presentation" style="display: none;">
            <a href="./pages/thank-you-contributors.html"><i class="fa fa-fw fa-info"></i> <span>Thank You</span></a>
          </li>
          <li role="presentation" style="display: none;">
            <a href="./pages/thanks-will-and-sheila.html"><i class="fa fa-fw fa-info"></i> <span></span></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h3 class="text-muted header__title">
        <a href="./"><img src="/theme/images/julia_logo.svg" alt="" style="height:50px">
          <span>Video<i>.jl</i></span></a>
      </h3>
      <div class="header__searchbox">
        <form method="GET" action="/search.html">
          <input name="q" type="search" placeholder="Type / to search...">
        </form>
        <button id="theme-toggle" class="theme-toggle" title="Toggle Theme">
          <i class="fa fa-moon-o"></i>
        </button>
      </div>
    </div>
  </header>
  <div class="container">


    <h2>All Events</h2>

    <div class="row">
      <nav class="events">
        <div class="col-md-12">
          <div class="row" id="events-list-container">
          </div>
        </div>
      </nav>
    </div>


    <footer class="footer">
      <p>
        &copy;
        <a href="https://github.com/Video.jl/Video.jl/blob/main/LICENSE">Video.jl</a> |
        <a href="https://github.com/Video.jl/data/blob/main/LICENSE">Video.jl/data</a>
      </p>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A=="
      crossorigin="anonymous"></script>
    <script src="/theme/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/theme/js/thumb.js"></script>
    <script src="/theme/js/language.js"></script>
    <script src="/theme/js/searchbar.js"></script>

    <script>
      $(document).ready(function () {
        $.getJSON('/api/events', function (data) {
          var container = $('#events-list-container');
          container.empty();

          var col1 = $('<div class="col-md-6 col-sm-12">');
          var col2 = $('<div class="col-md-6 col-sm-12">');

          $.each(data, function (i, category) {
            var catBlock = $('<div class="category-block" style="margin-bottom: 30px;">');
            var catHeader = $('<h3 style="border-bottom: 2px solid #ddd; padding-bottom: 10px; margin-bottom: 20px; color: #333;">' + category.base_name + '</h3>');
            catBlock.append(catHeader);

            $.each(category.subgroups, function (j, sg) {
              var sgBlock = $('<div class="subgroup-block" style="margin-bottom: 20px;">');
              
              if (sg.name !== "Default") {
                  var sgHeader = $('<h4 style="border-bottom: 1px solid #eee; padding-bottom: 5px; margin-bottom: 10px; color: #666; font-weight: normal;">' + sg.name + '</h4>');
                  sgBlock.append(sgHeader);
              }

              var yearsList = $('<div style="padding-left: 15px; display: flex; flex-wrap: wrap; gap: 10px;">');
              $.each(sg.instances, function (k, instance) {
                var displayText = instance.year ? instance.year : instance.full_name;
                if (instance.location) {
                    displayText += ' (' + instance.location + ')';
                }
                var link = $('<a href="/search.html?event=' + encodeURIComponent(instance.full_name) + '" style="font-size: 1.1em; text-decoration: none;">' + displayText + '</a>');
                yearsList.append(link);
              });

              sgBlock.append(yearsList);
              catBlock.append(sgBlock);
            });

            if (i % 2 === 0) col1.append(catBlock);
            else col2.append(catBlock);
          });

          container.append(col1).append(col2);
        });
      });
    </script>
  </div>
</body>

</html>